h4 {
    text-align: center;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-left: 12px;
  }
  .container {
    box-shadow: 0 4px 12px 0 hsl(197, 100%, 87%);
    transition: 0.4s;
    width: 100%;
    border-radius: 10px;
    padding-left: 15px;
  }
  .container:hover {
    box-shadow: 0 8px 12px 0 rgba(87, 11, 158, 0.2);
  }
  
  .card-text  {
    padding: 1% 5%;
    text-align: justify;
  }
  
  .card-image {
    width: 90%;
    height: 100%;
  }
  
  .scroll {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2% 3%;
  }

  .display {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2% 3%;
  }
  
  .small-pic {
    width: 40px;
    height: 40px;
    border-radius: 90%;
  }

  .readMore {
    cursor: pointer;
    color: rgb(115, 14, 155);
  }
  @media only screen and (max-width: 800px) {
    .scroll {
      padding-top: 80px;
    }
  }